@font-face {
    font-family: Proxima_Nova;
    src: url(../fonts/Proxima_Nova_l.otf); 
}
@font-face {
    font-family: Proxima_Nova_Semibold;
    src: url(../fonts/Proxima_Nova_Semibold.otf); 
}
@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/Myriad_Pro.otf); 
}

