footer.footer
  .container 
    .footer__blocks
      .footer__block
        .footer__item
          .footer__caption Департамент собственного транспорта:
          ul.contacts
            li.fan.fan-phone +375 17 205-01-05
            li.fan.fan-mobile +375 17 205-01-05
        .footer__item
          .footer__caption Адрес:
          ul 
            li.fan.fan-map-marker Республика Беларусь, 220036 г. Минск,<br> ул. Волоха 1-121
      .footer__block
        .footer__caption Департамент привлеченного транспорта:
        ul.contacts
          li.fan.fan-phone +375 17 207-36-85
          li +375 17 207-36-85
          li +375 17 207-36-85
          li.fan.fan-mobile +375 17 207-36-85
          li +375 17 207-36-85
      .footer__block.footer__block-wid
        .footer__caption Услуги
        ul
          li.footer__link
            a(href="#") Страхование грузов
          li.footer__link
            a(href="#") Автомобильные перевозки
          li.footer__link 
            a(href="#") Сборные грузы
          li.footer__link 
            a(href="#") Опасные грузы
          li.footer__link
            a(href="#") Грузы, требующие спецрежима
          li.footer__link
            a(href="#") Мультимодальные перевозки
    .footer__line
    ul 
      li 1999-2017 Belkaspian. Все права защищены
      
    