section.geogr
  .container
    .geogr__title ГЕОГРАФИЯ ПЕРЕВОЗОК
    .geogr__disc Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту. Наш опыт<br> позволяет предлагать заказчику полный комплекс по доставке грузов из любой точки мира.
    .geogr__map
      img(src="img/geogr/map.png" alt="map")
    .geogr__carusel.carusel#carusel 
      button.arrow.prev
      .geogr__galery
        ul.geogr__ul
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-ukr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-blr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-ukr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-blr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-blr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-ukr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-blr.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
          li 
            img(src="img/geogr/slider-rus.png" alt="russ flag")
      button.arrow.next
script(src='js/carusel.js')
      