
header
  .topLine
    .container
      .topLine__contact
        .topLine__adress.topLine__item
          i.fa.fa-map-marker.topLine__icon
          |220036, г. Минск, ул. Волоха 1-121
        .topLine__mail.topLine__item
          i.fa.fa-envelope-o.topLine__icon
          |pk@belkaspian.by
        .topLine__language.topLine__item
          i.fa.fa-globe.topLine__icon
          span.topLine__span Язык
          i.fa.fa-angle-down.topLine__icon-down
  .main
    .container
      .main__navigation
        .main__logo
          img(src="img/header/logo.png" alt="БелКаспиан" width="180px" height="65px")
        .main__menu
          ul.main__ul
            li.main__li
              a.main__a(href="#") Компания
            li.main__li
              a.main__a(href="#") Услуги
            li.main__li
              a.main__a(href="#") Статьи
            li.main__li
              a.main__a(href="#") Вакансии
            li.main__li
              a.main__a(href="#") Контакты
        .main__phone
          |+375 17 
          span.main__span 205-01-05<br>
          |+375 17 
          span.main__span  390-06-26
        .main__button
          a.main__call(href="#") ЗАКАЗАТЬ ЗВОНОК
      .zayavka
        .zayavka__caption Онлайн-заявка на 
          span.zayavka__span автомобильную перевозку 
          |груза
          form.zayavka__form(action="#")
            input.zayavka__input(type="text" placeholder="Откуда")
            input.zayavka__input(type="text" placeholder="Куда")
            input.zayavka__input.zayavka__input-icon.zayavka__input-down(type="text" placeholder="Вид груза")
            input.zayavka__input.zayavka__input-icon.zayavka__input-calendar(type="text" placeholder="Дата отгрузки")
            button.zayavka__button(type="sybmit" Value="ОТПРАВИТЬ") ОТПРАВИТЬ
          hr.zayavka__hr
          .zayavka__disc
            .zayavka__item
              .zayavka__items Страхование грузов
              i.fa.fa-shield
            .zayavka__item  
              .zayavka__items Автомобильные перевозки
              i.fa.fa-truck
            .zayavka__item  
              .zayavka__items Сборные грузы
              i.fa.fa-cubes
            .zayavka__item
              .zayavka__items Опасные грузы
              i.fa.fa-exclamation-triangle
            .zayavka__item
              .zayavka__items Грузы, требующие спецрежима
              i.fa.fa-thermometer-three-quarters
            .zayavka__item
              .zayavka__itema Мультимодальные перевозки
              i.fa.fa-plane
          
      
 


