section.preim
  .preim__lines
    .preim__line
  .container
    .preim__caption Несколько преимуществ и причин, почему выбирают именно нас:
    .preim__items
      .preim__item
        .preim__icon-block
          .preim__icon
            img(src="img/preim/adv_icon_1.png" width="50px" height="50px" alt="img1")
        .preim__title Приемлемая цена
        p.preim__disc Компания осуществляет международные автомобильные перевозки уже более  10 лет. 
      .preim__item
        .preim__icon-block
          .preim__icon
            img(src="img/preim/adv_icon_2.png"  width="50px" height="50px" alt="img2")
        .preim__title Скорость работы
        p.preim__disc Компания осуществляет международные автомобильные перевозки уже более  10 лет.
      .preim__item
        .preim__icon-block
          .preim__icon
            img(src="img/preim/adv_icon_3.png"  width="50px" height="50px" alt="img3")
        .preim__title Свои грузчики
        p.preim__disc Компания осуществляет международные автомобильные перевозки уже более  10 лет. 