section.statistika
  .container
    .statistika__title СТАТИСТИКА
    .statistika__items
      .statistika__item
        .statistika__caption >80тыс.
        .statistika__disc перевозок различной степени сложности
      .statistika__item
        .statistika__caption 300
        .statistika__disc сотрудников<br> насчитывает компания
      .statistika__item
        .statistika__caption 150
        .statistika__disc единиц собственного автотранспорта
      .statistika__item
        .statistika__caption >50
        .statistika__disc стран, в которые доставляем грузы
      .statistika__item
        .statistika__caption 19
        .statistika__disc лет работаем<br> на мировом рынке