section.uslugi
  .uslugi__bg
    img.uslugi__img.uslugi__img-left(src="img/uslugi/bg_left.png", alt="bg img")
    img.uslugi__img.uslugi__img-right(src="img/uslugi/bg_right.png", alt="bg img")
  .container
    .uslugi__title НАШИ УСЛУГИ
    .uslugi__carusel.carusel_two#carusel_two
      button.arrow_btn.prev_btn &#10094;
      .uslugi__galery
        ul.uslugi__ul
          li
            .uslugi__item
              img(src="img/uslugi/service-1.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item.uslugi__item-color
              img(src="img/uslugi/service-2.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item
              img(src="img/uslugi/service-3.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item.uslugi__item-color
              img(src="img/uslugi/service-1.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item
              img(src="img/uslugi/service-1.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item.uslugi__item-color
              img(src="img/uslugi/service-2.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item
              img(src="img/uslugi/service-3.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item.uslugi__item-color
              img(src="img/uslugi/service-1.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
          li
            .uslugi__item
              img(src="img/uslugi/service-3.png" alt="russ flag")
              .uslugi__caption
                .uslugi__itemTitle Грузы, требующие спецрежима
                p Наши специалисты могут организовать доставку грузов по любому необходимому и удобному маршруту.
                a(href="#") Узнать больше
      button.arrow_btn.next_btn &#10095;
script(src='js/carusel.js')
script(src='js/carusel_two.js')
    