section.vajno
  .container
    .vajno__title ВАЖНО ЗНАТЬ
    .vajno__blocks
      .vajno__block
        .vajno__item
          img(src="img/vajno/image.png", alt="image")
          .vajno__itemblock
            .vajno__disc Европейское соглашение, касающееся работы экипажей транспортных средств
            a(href="#") Читать подробнее
        .vajno__minitem
          img(src="img/vajno/image2.png", alt="image")
          .vajno__disc Европейское соглашение, касающееся работы экипажей транспортных средств
          a(href="#") Читать подробнее
        .vajno__minitem
          img(src="img/vajno/image2.png", alt="image")
          .vajno__disc Европейское соглашение, касающееся работы экипажей транспортных средств
          a(href="#") Читать подробнее
        