section.vopros
  .container
    .vopros__bg
      img(src="img/footer/bg-map.png", alt="bg_map.png")
    .vopros__blocks
      .vopros__block
        .vopros__icon
          i.fa.fa-question
        .vopros__text
          .vopros__title ОСТАЛИСЬ ВОПРОСЫ?
          .vopros__disc Оставьте свои данные,<br> мы Вам перезвоним и все расскажем!

      .vopros__block
        form.vopros__form(action="#")
            input.vopros__input(type="text" placeholder="Имя")
            input.vopros__input(type="text" placeholder="Телефон")
            button.zayavka__button.zayavka__button-vopros(type="sybmit" Value="ОТПРАВИТЬ") ОТПРАВИТЬ
    